extends layout

block content
	div.intro
		div.inner
			img(src="#{url}assets/images/danbond.jpg", alt="Dan Bond")
			h1 Dan Bond
			hr
			h2 Software Developer, Open Source Contributor, Tech Enthusiast.
	div.social
		ul
			li
				a(href="http://twitter.com/danbondd", target="_blank", class="external", data-source="Twitter")
					img(src="#{url}assets/images/twitter.png", alt="Twitter")
			li
				a(href="http://github.com/danbondd", target="_blank", class="external", data-source="GitHub")
					img(src="#{url}assets/images/github.png", alt="GitHub")
			li
				a(href="https://www.linkedin.com/in/danbondd", target="_blank", class="external", data-source="LinkedIn")
					img(src="#{url}assets/images/linkedin.png", alt="LinkedIn")
			li
				a(href="http://medium.com/@danbondd", target="_blank", class="external medium", data-source="Medium")
					img(src="#{url}assets/images/medium.png", alt="Medium")
	div.about
		p.I am a highly motivated and passionate Software Developer with a penchant for creating robust and scalable applications. I enjoy working on a variety of different projects, ranging from bespoke APIs to large data driven systems. My primary focus is writing Golang and Python, but I have a very keen interest in Rust and C++.
		p.tweet
			a(href="https://twitter.com/share", class="twitter-share-button")
				| Tweet
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
