doctype html

html
	head
		meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
		meta(name="description" content="Digital Portfolio of Dan Bond: Software Developer based in Manchester, UK.")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="theme-color" content="#D36868")
		title="Dan Bond: Software Developer, Open Source Contributor, Tech Enthusiast."

		meta(property="og:title" content="Dan Bond: Software Developer, Open Source Contributor, Tech Enthusiast.")
		meta(property="og:type" content="website")
		meta(property="og:url" content="#{url}")
		meta(property="og:locale" content="en_GB")
		meta(property="og:description" content="Digital Portfolio of Dan Bond: Software Developer based in Manchester, UK.")
		meta(property="og:image" content="#{url}assets/images/danbond.jpg")

		meta(name="twitter:card" content="summary")
		meta(name="twitter:site" content="@danbondd")
		meta(name="twitter:creator" content="@danbondd")
		meta(name="twitter:image" content="#{url}assets/images/danbond.jpg")

		link(rel="shortcut icon", href="#{url}assets/images/favicon.ico")
		link(rel="stylesheet", href="#{url}assets/css/site.min.css")

		if(env!=='development')
			script.
				window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
				ga('create', 'UA-31900712-2', 'auto');
				ga('send', 'pageview');
			script(async src="//www.google-analytics.com/analytics.js")

	body
		block content
		footer
			p &copy; Dan Bond 2016
		script(type="text/javascript", src="#{url}assets/js/site.min.js")
